*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


.HeroSection{
    background: url(/Images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.NavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 16px 48px;

    padding: 20px;
}

.NavBar a{
    color: white;
    text-decoration: none;
}

.NavBarMenuLeftContainer{
    display: flex;
    gap: 28px;
}

.NavBarMenuContainer .UserIcon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
}


.HeroSectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 20px;
    height: calc(60vh - 65px);
}

.HeroSectionLogo{
    height: 40px;
    width: 200px;
}
.HeroSectionTitle{
    text-align: center;
    font-size: 30px;
    font-weight: 380;
}
.HeroInputContainer{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    /* border: none; */
    display: flex;
    gap: 10px   ;
    padding: 10px;
    align-items: center;
    justify-content: center;  
    
}
.HeroInputContainer i{
    color: grey;
}
.HeroInputContainer .LocationInputContainer{
    border: none;
    border-right: 2px solid #e0e0e0;
    width: 35%;
    padding: 5px;
    outline: none;
}
.HeroInputContainer .SearchInputContainer{
    border: none;
    width: 65%;
    padding: 5px;
    outline: none;
}


.CardSection{
    display: flex;
   flex-wrap : wrap;
   gap: 0.5rem;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.Container{
    margin: 3rem auto;
    width: 90%;
}

.CardContainer{
    transition: all ease 1s;
    /* transition delay is not given to give a cool transition */
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
    
}

.CardContainer img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
}
.CardContainer:hover{
    transform: scale(1.1);
}

.CardContainerContent{
    padding: 10px;
}

.CardContainerContent h2{
    font-size: 20px;
    font-weight: 400;
}
.CardContainerContent p{
font-size: 12.5px;
}

/* Media Query */
@media only screen and (max-width:600px){
    .NavBarMenuLeftContainer .UserIcon{
        display: flex;
    }
    .link{
        display: none;
    }
    .HeroSection{
        height: 80vh;
    }
    .HeroSectionContainer{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        height: calc(80vh - 40px);
    }
    .LocationInputContainer .SearchInputContainer{
        border-radius: 10px;
        padding: 18px;
        width: 98%;
    }
    .HeroSectionTitle{
        font-size: 18px;
        width: 95%;
    }

    .CardContainer{
        margin-bottom: 10px;
    }

}


.CollectionSection h1{
font-weight: 600;
}
.CollectionSection .CollectionSubHeadings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
    font-size: 15px;
}

.CollectionSection .CollectionSubHeadings span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;
    cursor: pointer;
}

.CollectionCardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.CollectionCardContainer .CollectionCard{
    height: 300px;
    min-width: 240px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.CollectionCardContainer .Card1{
    background-image: url(./Images/collection1.jpg);
}

.CollectionCardContainer .Card2{
    background-image: url(./Images/collection2.jpg);
}

.CollectionCardContainer .Card3{
    background-image: url(./Images/collection3.jpg);
}

.CollectionCardContainer .Card4{
    background-image: url(./Images/collection4.jpg);
}

.CollectionCardContainer .CollectionCard .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    /* Parent Class "CollectionCard" is having Position:relative*/
    top: 0;
    left: 0;
    border-radius: 10px;
    background-image: linear-gradient(
        rgba(225,0,0,1)0%,
        rgba(225,0,0,1)50%,
        rgba(225,0,0,1)85%,
    );
    z-index: 5;
}

.CollectionCardContainer .CollectionCard .CardContent{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
    z-index: 6;
}

.CardContent h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}
.GetAppSection{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
}
.GetAppSection .SemiContainer{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
 .SemiContainer .LeftImageContainer{
    /* flex: |flex-grow| |Flex-Shrink| |Flex-Basis| */
    flex: 2;
    /* equal to flex: 2 1 0 */
}
.LeftImageContainer img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.SemiContainer .RightContainer{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.RightContainer h1{
    font-weight: 400;
    font-size: 2rem;
}
.RightContainer p{
    font-size: 0.8rem;
}

.SemiContainer .RightContainer .RadioButtonContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.SemiContainer .RightContainer .RadioButtonContainer div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Styling Radio Buttons */
.SemiContainer .RightContainer .RadioButtonContainer div input{
    height: 15px;
    width: 15px;
    /* Property used for Checkbox, RadioBtn, RangeBar nd ProgressBar Specially; Defines the inner Color */
    accent-color: rgb(239,79,95);
}

.SemiContainer .RightContainer .CntctInputContainer{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.SemiContainer .RightContainer .CntctInputContainer input,button{
    padding: 10px 12px;
}

.CntctInputContainer input{
    /* Additional Outer Border to the Border  */
    outline: none;
    border: 1.5px solid grey;
    flex: auto;
    border-radius: 5px;
}

.CntctInputContainer button{
    background-color: rgb(239,79,95);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.DownloadAppContainer{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.DownloadAppContainer h5{
    font-weight: 400;
    color: grey;
}

.DownloadAppContainer .DownloadImgContainer{
    display: flex;
    gap: 1rem;
}

.DownloadAppContainer .DownloadImgContainer img{
    width: 35%;
}



/* Media Query for the GetApp Section */
@media only screen and (){


}



.footer{
    width: 100%;
}

.FooterSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.FooterSection img{
   width: 130px;
}

.CountryLangButtonContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.CountryLangButtonContainer button{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    gap: 8px;
    background-color: transparent;
}

.CountryLangButtonContainer button:nth-child(2){
    width: 90px;
    /* Coz it takes more width */
}

.FooterNavigationContainer{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}

.LinkGridsContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.LinkGridsContainer h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}

.LinkGridsContainer .FooterLink{
    color: grey;
    text-decoration: none;
    font-size: 12.5px;
    font-weight: 300px;
}

.LinkGridsContainer .FooterLink:hover{
    color: black;
}

.LinkGridsContainer button{
    border-radius: 30px;
    /* above prprty is not giving a perfect circle alone,so we add below */
    height: 30px;
    width: 30px;
    background-color: black;
    border: none;
    cursor: pointer;
}

.LinkGridsContainer button i{
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.LinkGridsContainer .FooterAppImg{
width: 100%;
}

.Desclaimer{
    border-top: 1px solid gray;
    margin: auto;
    padding-top: 20px;
    width: 95%;
    color: grey;
    text-size-adjust: 1rem;
    line-height: 1.7rem;
}

@media only screen and (max-width: 900px){
    .FooterNavigationContainer{
        grid-template-columns: repeat(3, 1fr);
    }

    .HeroInputContainer{
        width: 90%;
    }
} 

@media only screen and (max-width: 500px){
    .FooterNavigationContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    .CountryLangButtonContainer{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 300px){
    .FooterNavigationContainer{
        grid-template-columns: 1fr;
    }
    .CountryLangButtonContainer{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
}